
.ractive-datepicker

    display inline-flex
    flex-direction row

    background #fff


    &, *, *:before, *:after
        box-sizing border-box

    .header
        background #333
        color rgba(255,255,255,0.5)
        padding 2em
        min-width 11em
        position relative
        text-align left

        > div
            cursor pointer

        .active
            color #fff
            position relative
            &:after
                content ''
                display inline-block
                border 10px solid transparent
                border-right-color #fff
                position absolute
                right -2em
                top 50%
                margin-top -10px

        .weekday
            font-size 2em

        .time
            margin-top 2em

    .editor
        flex 1 1 66%
        padding 2em
        position relative
        user-select none
        .years:after, .clock:after
            position absolute
            content ''
            top 1em
            left 0
            right 0
            bottom 1em
            pointer-events none
        .years:after
            background linear-gradient(#fff,rgba(255, 255, 255, 0),#fff)
        .clock:after
            background linear-gradient(#fff 20%,rgba(255, 255, 255, 0),#fff 80%)

    .monthyear
        font-weight bold
        text-align center
        margin-bottom 1em
        span
            cursor pointer

    .nav
        .next, .previous
            user-select none
            position absolute
            padding 0.5em
            display inline-block
            cursor pointer
            top 1.5em
        .previous
            left 2.5em
            &:before
                content '<'
        .next
            right 2.5em
            &:before
                content '>'

    .weekdays
        display flex
        opacity 0.4

    .dates, .weekdays
        > div
            display inline-block
            width 2em
            height 2em
            margin 0.5em
            text-align center
            line-height @height
            vertical-align top
            cursor pointer

    .dates
        max-width 21em
        margin-bottom -0.5em

    .years, .clock
        width 21em
        height 21em

    .dates
        .active
            background #0097A7
            color #fff
            border-radius 50%

    .years
        overflow-y scroll
        text-align center
        &::-webkit-scrollbar
            display none
        div
            font-size 1.4em
            margin 1em 0
            cursor pointer
            &.active
                font-weight bold
                margin 0.5em 0
                display inline-block
                cursor default

    .clock
        display flex
        flex-direction row
        text-align right
        justify-content center
        align-items center
        overflow hidden
        line-height 1
        > div
            font-size 1.5em
        .minutes, .hours
            overflow-y scroll
            max-height 22em
            user-select none
            padding 0 1em
            cursor default
            &::-webkit-scrollbar
                display none
            div
                user-select none
                cursor default
                margin-bottom 0.88em

        .minutes div:first-child
            margin-top 11em
        .minutes div:last-child
            margin-bottom 11em

        .hours div:first-child
            margin-top 11em
        .hours div:last-child
            margin-bottom 11em

        .meridiem
            cursor pointer
            span:not(.selected)
                opacity 0.2


@media (max-width:700px)
    .ractive-datepicker
        flex-direction column
        font-size 0.8em
        .header
            display flex
            flex-direction row
            align-items flex-end
            padding 1.5em
            .weekday
                font-size 1em
            div
                display inline
            > div
                margin-top 0 !important
                margin-right 1em
            .active:after
                border-right-color transparent
                border-bottom-color #fff
                left 50%
                right auto
                bottom -1.5em
                margin-top 0
                margin-left -10px

