
.ractive-datepicker

    display inline-flex
    flex-direction row

    background #fff


    &, *, *:before, *:after
        box-sizing border-box

    .header
        background #333
        color rgba(255,255,255,0.5)
        padding 2em
        min-width 12em
        position relative
        text-align left
        label
            font-size 0.8em
            margin-bottom 1em
            display inline-block
            opacity 0.5

        > div
            cursor pointer

        &.range .active:after
            content none
        .active
            color #fff
            position relative
            &:after
                content ''
                display inline-block
                border 10px solid transparent
                border-right-color #fff
                position absolute
                right -2em
                top 50%
                margin-top -10px

        .weekday
            font-size 2em
        .year
            display:block
        .time
            margin-top 1em
            margin-bottom 2em
            span
                display inline-block
                border-bottom 1px dashed currentColor
    .header, .dddd
        min-width 15em
    .editor
        white-space nowrap
        flex 1 1 66%
        padding 2em
        position relative
        user-select none
        .years:before, .hours:before
            position absolute
            content ''
            top 1em
            left 0
            right 0
            bottom 1em
            pointer-events none
        .years:before, .hours:before
            background linear-gradient(#ff,rgba(255, 255, 255, 0),#fff)

        .years:after
            position absolute
            content ''
            top calc(50% - 1em)
            left calc(50% - 3em)
            right calc(50% - 3em)
            bottom calc(50% - 1em)
            pointer-events none

         .hours:after
            position absolute
            content ''
            top calc(50% - 1em)
            left 3em
            right 14em
            bottom calc(50% - 1em)
            pointer-events none
        .minutes:after
            position absolute
            content ''
            top calc(50% - 1em)
            left 14em
            right 3em
            bottom calc(50% - 1em)
            pointer-events none

        .years:after, .hours:after, .minutes:after
            border-bottom 2px solid #888
            border-top 2px solid #888

    .monthyear
        white-space initial
        font-weight bold
        text-align center
        margin-bottom 1em
        span
            cursor pointer
            display inline-block
            border-bottom 1px dashed currentColor

    .nav
        white-space initial
        position relative
        .next, .previous
            user-select none
            position absolute
            padding 0.5em
            display inline-block
            cursor pointer
            top -0.5em
        .previous
            left 2.5em
            &:before
                content '<'
        .next
            right 2.5em
            &:before
                content '>'
    .days
        white-space initial
        
    .weekdays
        display flex
        opacity 0.5
        font-weight bold

    .dates, .weekdays
        > div
            display inline-block
            width 3em
            height 3em
            line-height @height
            text-align center

    .dates
        max-width 21em
        margin-bottom -0.5em
    
    .hours, .minutes
        width 50%
        height 23em
        text-align center
        
    .years, .clock
        width 21em
        height 23em

    .dates
        user-select none

        .selected, .start
            transition border-radius 0.3s ease

        > div
            user-select none
            -webkit-user-select none
            -ms-user-select none

        > div:not(.between):not(.start):not(.end):not(.selected)
            cursor pointer
            border-radius 50%
            &:hover
                background #f0f0f0

        .off:not(.ghost)
            opacity 0.25

        .between
            background mix(#0097A7, #fff, 15%)
            &.ghost
                background fade-out(mix(#0097A7, #fff, 15%), 0.75)

        > div
            &.selected, &.start, &.end
                background #0097A7
                color #fff
                border-radius 50%
                &.ghost
                    background fade-out(#0097A7, 0.75)
                    color inherit
                    cursor pointer

        .start
            //border-top-right-radius 0
            //border-bottom-right-radius 0
            //border-radius 2em 0 0 25%
            border-radius 50% 0 0 50% !important

        .end
            //border-top-left-radius 0
            //border-bottom-left-radius 0
            //border-radius 0 25% 2em 0
            border-radius 0 50% 50% 0 !important

    .years
        text-align center

    .years, .hours, .minutes
        z-index 100
        white-space initial
        overflow-y scroll
        &::-webkit-scrollbar
            display none
        div
            font-size 1.4em
            margin 1em 0
            cursor pointer
            &.selected
                font-weight bold
                margin 0.5em 0
                display inline-block
                cursor default
            
    .minutes, .hours
        display:inline-block;
            
.header-year
    background: #333;
    color: #AAA;
    padding-left: 25px;        
    padding-top: 15px;
    margin-bottom: 0px;

.show-in-compact 
    display:none;
    
.hide-in-compact
    display:initial;

$compact()
    flex-direction column
    font-size 0.8em
    .header
        display flex
        flex-direction row
        align-items flex-end
        padding 1.0em
        padding-top: 15px
        font-size:25px
        min-width:0px

        .time
            margin: 0;
            padding: 0;
            font-size: 20px;
            position absolute;
            right 1em;

        .weekday
            font-size 1em
        div
            display inline
        > div
            margin-top 0 !important
            margin-bottom 0
        .active:after
            border-right-color transparent
            border-bottom-color #fff
            left 50%
            right auto
            bottom -1.5em
            margin-top 0
            margin-left -10px

    .editor
        flex 1 1


.ractive-datepicker
    @media (max-width:700px)
        $compact()
        .show-in-compact 
            display:initial;
        .hide-in-compact
            display:none !important;
    &.compact
        $compact()
        .show-in-compact 
            display:initial;
        .hide-in-compact
            display:none !important;
